<header>
    <a [routerLink]="[ '/home' ]">
        <h1 class="Colossus">{{ 'header.logoName' | translate }}</h1>
    </a>
    <div class="routes">
        <div class="guest Big" *ngIf="!isAdmin">
            <a [routerLink]="[ '/about']" routerLinkActive="active">{{ 'common.header.btns.about' | translate }}</a>
            <a [routerLink]="[ '/gallery']" routerLinkActive="active">{{ 'common.header.btns.gallery' | translate }}</a>
            <a [routerLink]="[ '/news']" routerLinkActive="active">{{ 'common.header.btns.news' | translate }}</a>
        </div>
        <div class="admin Big" *ngIf="isAdmin">
            <a [routerLink]="[ '/admin', 'profile' ]" routerLinkActive="active">{{ 'admin.header.btns.profile' |
                translate }}</a>
            <a [routerLink]="[ '/admin', 'paintings' ]" routerLinkActive="active">{{ 'admin.header.btns.paintings' |
                translate }}</a>
            <a [routerLink]="[ '/admin', 'news' ]" routerLinkActive="active">{{ 'admin.header.btns.news' | translate
                }}</a>
            <a [routerLink]="[ '/admin', 'settings' ]" routerLinkActive="active">{{ 'admin.header.btns.settings' |
                translate }}</a>
        </div>
        <div class="btns Big" *ngIf="isAdmin">
            <p (click)="logOut()">{{ 'admin.header.btns.logout' | translate }}</p>
        </div>
        <div class="languages">
            <img class="activeLanguage" [src]="languagesIcons[activeLanguage]" alt="" (click)="toggleLanguages()">
            <img [src]="item.icon" class="disActiveLanguage" alt=""
                *ngFor="let item of getOtherLanguages();trackBy: trackByFnLang"
                [ngStyle]="{'max-height': openLanguages ? 'calc((1vw + 1vh) * 2)' : ''}" (click)="changeLanguage(item.lang)">
        </div>
    </div>
    <div class="mobile-routes">
        <div class="languages">
            <img class="activeLanguage" [src]="languagesIcons[activeLanguage]" alt="" (click)="toggleLanguages()">
            <img [src]="item.icon" class="disActiveLanguage" alt=""
                *ngFor="let item of getOtherLanguages();trackBy: trackByFnLang"
                [ngStyle]="{'max-height': openLanguages ? 'calc((1vw + 1vh) * 10)' : ''}" (click)="changeLanguage(item.lang)">
        </div>
        <svg id="hamburger" class="Header__toggle-svg" [ngClass]="{'burger-active': open, 'burger-inactive': !open}"
            (click)="toggleBurger()" viewBox="0 0 60 40" preserveAspectRatio="xMidYMid meet">
            <g stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <path id="top-line" d="M10,10 L50,10 Z"></path>
                <path id="middle-line" d="M10,20 L50,20 Z"></path>
                <path id="bottom-line" d="M10,30 L50,30 Z"></path>
            </g>
        </svg>
        <ul class="guest Big" *ngIf="!isAdmin" [ngClass]="{'hideList': !open}">
            <li>
                <a [routerLink]="[ '/about']" routerLinkActive="active">{{ 'common.header.btns.about' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="[ '/gallery']" routerLinkActive="active">{{ 'common.header.btns.gallery' | translate
                    }}</a>
            </li>
            <li>
                <a [routerLink]="[ '/news']" routerLinkActive="active">{{ 'common.header.btns.news' | translate }}</a>
            </li>
        </ul>
        <ul class="admin Big" *ngIf="isAdmin" [ngClass]="{'hideList': !open}">
            <li>
                <a [routerLink]="[ '/admin', 'profile' ]" routerLinkActive="active">{{ 'admin.header.btns.profile' |
                    translate }}</a>
            </li>
            <li>
                <a [routerLink]="[ '/admin', 'paintings' ]" routerLinkActive="active">{{ 'admin.header.btns.paintings' |
                    translate }}</a>
            </li>
            <li>
                <a [routerLink]="[ '/admin', 'news' ]" routerLinkActive="active">{{ 'admin.header.btns.news' | translate
                    }}</a>
            </li>
            <li>
                <a [routerLink]="[ '/admin', 'settings' ]" routerLinkActive="active">{{ 'admin.header.btns.settings' |
                    translate }}</a>
            </li>
            <li>
                <p (click)="logOut()">{{ 'admin.header.btns.logout' | translate }}</p>
            </li>
        </ul>
    </div>

</header>