<div class="mapSrc">
    <textarea name="" id="mapSrc" class="Regular" [(ngModel)]="mapSrc" placeholder="{{ 'admin.settings.map' | translate }}"></textarea>
    <button class="formBtn" (click)="changeMapSrc()" [disabled]="change">{{ 'admin.settings.mapBtn' | translate }}</button>
</div>

<div class="shift-bg">
    <div class="uploadBG">
        <button class="formBtn" (click)="FileBg.click()">{{ 'admin.settings.uploadBG' | translate }}</button>
        <input type="file" #FileBg (change)="uploadBgFile($event)" accept="image/*">
    </div>
    <header>
        <p class="Middle">{{ 'admin.settings.header.preview' | translate }}</p>
        <p class="Middle">{{ 'admin.settings.header.dateDownload' | translate }}</p>
        <p class="Middle">{{ 'admin.settings.header.status' | translate }}</p>
        <p class="Middle">{{ 'admin.settings.header.btn' | translate }}</p>
    </header>
    <div class="row" *ngFor="let item of backgrounds$ | async; trackBy: trackByFn">
        <img [src]="item.path" alt="">
        <p>{{item.createdAt.split('.')[0].replace("T", " ")}}</p>
        <div class="toggle-btn">
            <input type="checkbox" (change)="toggleBackgroundStatus(item)" [checked]="item.status">
        </div>
        <button class="delete" (click)="deleteBackground(item.id)">kustutada</button>
    </div>
</div>