<div class="paintings">
    <header>
        <input type="text" class="search Middle" [(ngModel)]="searchValue" placeholder="{{ 'common.gallery.searchPlaceholder' | translate }}" (input)="searchPainting()">
    </header>
    <div class="painting Small" *ngFor="let item of showPaintings" [attr.price]="item.price + '€'">
        <div class="painting-bg" [ngStyle]="{ 'background-image': 'url(' + item.imgPath + ')' }"></div>
        <a [routerLink]="[ '/painting', item.id ]"><img [src]="item.imgPath" alt=""></a>
        <div class="des">
            <h3 class="title Middle">{{item.showTitle}}</h3>
            <p class="des Regular">{{item.showDes.substring(0,50)}} <span *ngIf="item.showDes.length > 50">...</span></p>
        </div>
    </div>
</div>
