<div class="adminForm">
    <div class="img">
        <img [src]="avatarPreviewUrl" alt="" (click)="choiceAvatar.click()">
        <input type="file" #choiceAvatar (change)="setImg($event)" accept="image/*">
    </div>
    <div class="fields">
        <input class="Regular" type="text" placeholder="nimi" [(ngModel)]="user.name">
        <input class="Regular" type="email" placeholder="meili" [(ngModel)]="user.email">
        <input class="Regular" type="tel" placeholder="telefon" [(ngModel)]="user.phone">
        <input class="Regular" type="text" placeholder="parool" [(ngModel)]="user.password">
        <textarea class="Regular" name="" id="" [(ngModel)]="user.text"></textarea>
        <button class="formBtn Regular" [disabled]="update" (click)="updateProfile()">uuenda profiili</button>
    </div>
</div>