<div class="adminForm">
    <div class="img">
        <img [src]="avatarPreviewUrl" alt="" (click)="choiceAvatar.click()">
        <input type="file" #choiceAvatar (change)="setImg($event)" accept="image/*">
    </div>
    <div class="fields">
        <input class="Regular" type="text" placeholder="{{ 'admin.profile.name' | translate }}" [(ngModel)]="user.name">
        <input class="Regular" type="email" placeholder="{{ 'admin.profile.email' | translate }}" [(ngModel)]="user.email">
        <input class="Regular" type="tel" placeholder="{{ 'admin.profile.phone' | translate }}" [(ngModel)]="user.phone">
        <input class="Regular" type="text" placeholder="{{ 'admin.profile.password' | translate }}" [(ngModel)]="user.password">
        <div class="swiper swiper-container" #desSwiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                <textarea class="Regular" name="" id="" [(ngModel)]="user.text"
                    placeholder="{{ 'admin.profile.des' | translate }}(eng)"></textarea>
                </div>
                <div class="swiper-slide">
                    <textarea class="Regular" name="" id="" [(ngModel)]="user.rusText"
                        placeholder="{{ 'admin.profile.des' | translate }}(ru)"></textarea>
                </div>
                <div class="swiper-slide">
                    <textarea class="Regular" name="" id="" [(ngModel)]="user.estText"
                        placeholder="{{ 'admin.profile.des' | translate }}(est)"></textarea>
                </div>
            </div>
        </div>
        
        <div class="row end">
            <div class="error Regular" [ngClass]="{'show':isError, 'hide': !isError}">{{errorMessage}}</div>
            <button class="formBtn Regular" [disabled]="update" (click)="updateProfile()">{{ 'admin.profile.formBtn' | translate }}</button>
        </div>
    </div>
</div>