<div class="item">
  <a class="row" [routerLink]="['/painting', allPaintings[placeArray-1]? allPaintings[placeArray-1].id: allPaintings[0].id]"
    [ngStyle]="{'opacity': id === allPaintings[0].id ? 0 : 1, 'pointer-events': id === allPaintings[0].id ? 'none' : ''}" (click)="handleChangeItem(-1)">
    <p>&#8656;</p>
  </a>
  <div class="body" *ngIf="allPaintings.length > 0 && painting != null">
    <img [src]="painting.imgPath" alt="">
    <div class="fields">
      <h2>{{ painting.title }}</h2>
      <p class="des">{{ painting.des }}</p>
      <p class="price">Price: {{painting.price}}€</p>
    </div>
  </div>
  <div class="not-exist" *ngIf="painting == null">
    <h2>Painting was deleted</h2>
    <p>The picture was removed for some reason. We bring our deepest changes</p>
  </div>
  <a class="row" [routerLink]="['/painting', allPaintings[placeArray+1]? allPaintings[placeArray+1].id: allPaintings[allPaintings.length - 1].id]"
    [ngStyle]="{'opacity': id === allPaintings[allPaintings.length - 1].id ? 0 : 1, 'pointer-events': id === allPaintings[allPaintings.length - 1].id ? 'none' : ''}" (click)="handleChangeItem(1)">
    <p>&#8658;</p>
  </a>
</div>