<div class="window" [ngClass]="{'show':showGallery}">
    <div class="bg" (click)="toggleGallery()"></div>
    <div class="body">
        <div class="gallery-item" *ngFor="let item of galleryItems" (click)="handleClick(item)"
            [ngClass]="{'active': activeItemId == item.id}">
            <div class="painting-bg" [ngStyle]="{'background-image': 'url('+item.imgPath+')'}"></div>
            <img src="./assets/imgs/painting/delete.png" class="btn-delete" alt="" (click)="deletePainting(item.id)">
            <img [src]="item.imgPath" [alt]="item.title">
            <h3 class="Middle">{{item.title}}</h3>
        </div>
    </div>
</div>
<div class="adminForm painting">
    <div class="img" [ngClass]="{'default': default}" (click)="choicePainting.click()">
        <img [src]="paintingPreviewUrl" alt="">
        <input type="file" #choicePainting (change)="setImg($event)" accept="image/*">
    </div>
    <div class="fields">
        <div class="swiper swiper-container" #titleSwiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <input class="Regular" type="text" placeholder="{{ 'admin.painting.title' | translate }}(eng)"
                    [(ngModel)]="painting.title" tabindex="-1">
                </div>
                <div class="swiper-slide">
                    <input class="Regular" type="text" placeholder="{{ 'admin.painting.title' | translate }}(rus)"
                        [(ngModel)]="painting.rusTitle"tabindex="-1">
                </div>
                <div class="swiper-slide">
                    <input class="Regular" type="text" placeholder="{{ 'admin.painting.title' | translate }}(est)"
                        [(ngModel)]="painting.estTitle"tabindex="-1">
                </div>
            </div>
        </div>
        <input class="Regular" type="number" placeholder="{{ 'admin.painting.price' | translate }}"
            [(ngModel)]="painting.price">
        <div>
            <h3 class="Middle">{{ 'admin.painting.titleDimension' | translate }}</h3>
            <input class="Regular" type="number" placeholder="{{ 'admin.painting.width' | translate }}"
                [(ngModel)]="width">
            <input class="Regular" type="number" placeholder="{{ 'admin.painting.height' | translate }}"
                [(ngModel)]="height">
        </div>
        <div class="swiper swiper-container" #desSwiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <textarea class="Regular" name="" placeholder="{{ 'admin.painting.des' | translate }}(eng)"
                        [(ngModel)]="painting.des" tabindex="-1"></textarea>
                </div>
                <div class="swiper-slide">
                    <textarea class="Regular" name="" placeholder="{{ 'admin.painting.des' | translate }}(rus)"
                        [(ngModel)]="painting.rusDes" tabindex="-1"></textarea>
                </div>
                <div class="swiper-slide">
                    <textarea class="Regular" name="" placeholder="{{ 'admin.painting.des' | translate }}(est)"
                        [(ngModel)]="painting.estDes" tabindex="-1"></textarea>
                </div>
            </div>
        </div>
        <button class="formBtn Regular" [disabled]="active" (click)="submitPainting()">{{ 'admin.painting.formBtn' | translate }}</button>
    </div>
</div>
<div class="btn-window-toggle">
    <img src="./assets/imgs/painting/gallery.png" alt="" (click)="toggleGallery()">
</div>