<div class="window" [ngClass]="{'show':showGallery}">
    <div class="bg" (click)="toggleGallery()"></div>
    <div class="body">
        <div class="gallery-item" *ngFor="let item of galleryItems" (click)="handleClick(item)"
            [ngClass]="{'active': activeItemId == item.id}">
            <div class="painting-bg" [ngStyle]="{'background-image': 'url('+item.imgPath+')'}"></div>
            <img src="./assets/imgs/painting/delete.png" class="btn-delete" alt="" (click)="deletePainting(item.id)">
            <img [src]="item.imgPath" [alt]="item.title">
            <h3 class="Middle">{{item.title}}</h3>
        </div>
    </div>
</div>
<div class="adminForm painting">
    <div class="img" [ngClass]="{'default': default}" (click)="choicePainting.click()">
        <img [src]="paintingPreviewUrl" alt="">
        <input type="file" #choicePainting (change)="setImg($event)" accept="image/*">
    </div>
    <div class="fields">
        <input class="Regular" type="text" placeholder="Pealkiri" [(ngModel)]="painting.title">
        <input class="Regular" type="number" placeholder="Maali hind" [(ngModel)]="painting.price">
        <div>
            <h3 class="Middle">Maali mõõtmed</h3>
            <input class="Regular" type="number" placeholder="Laius" [(ngModel)]="width">
            <input class="Regular" type="number" placeholder="Kõrgus" [(ngModel)]="height">
        </div>
        <textarea class="Regular" name="" placeholder="Maali kirjeldus" [(ngModel)]="painting.des"></textarea>
        <button class="formBtn Regular" [disabled]="active" (click)="submitPainting()">Esita</button>
    </div>
</div>
<div class="btn-window-toggle">
    <img src="./assets/imgs/painting/gallery.png" alt="" (click)="toggleGallery()">
</div>